@media only screen and (max-width: 1068px){
  .delGame_header{
      font-size:24px;
  }
  .dialog-actions-continue{
      line-height: 36px;
      font-size: 18px;
  }
  .dialog-actions-deny{
      line-height: 36px;
      font-size: 18px;
      
  }
  .mngGame-input{
      font-size: 18px;
  }
  .filteredgames{
    font-size: 16px;
    height: 32px;
  }
}

