.dialog-actions{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 5px;
    justify-content: center;

}
.dialog-actions-continue{

    color: green;  
    text-align: center;
    background-color:rgb(225, 228, 232);
    border-radius: 100vh;
    line-height: 4vh;
    font-size: 2vh;
}
.dialog-actions-deny{
    text-align: center;
    color: red;     
    background-color:rgb(225, 228, 232);
    border-radius: 100vh;
    line-height: 4vh;
    font-size: 2vh;
    
}
.delUser_header{
    text-align: center;
    font-size:2.1vh;
}
.delUser_input{
    font-size: 1.8vh;
    overflow: hidden;
    text-align: center;
}

