<div id="delUser">

  <h1 mat-dialog-title class="delUser_header">Добавление счёта</h1>
  <div mat-dialog-content style="text-align: center">
      <mat-form-field style="width: 100%"> 
          <input id='inputForm1' matInput #input [(ngModel)]="data.score" class="delUser_input">
      </mat-form-field>
  </div>
  <div mat-dialog-actions id="dialog-actions" class="dialog-actions">
      <div id="dialog-actions-deny" style="text-align: center;"> 
          <button mat-button type = 'reset' form="inputForm1" (click)="onNoClick()" class="dialog-actions-deny">Отменить</button>
      </div>
      <div id="dialog-actions-continue" style="text-align: center;">
          <button mat-button  type = 'reset' form="inputForm1" [mat-dialog-close]="data.score" class="dialog-actions-continue" (click)="input.value=''">Продолжить</button>
      </div>
      
  </div>
</div>