<div id="addGame">

    <span mat-dialog-title style="text-align: center;font-size: 2.5vh;">Добавление игры</span>
    <div mat-dialog-content style="text-align: center">
        <mat-form-field style="width: 100%"> 
            <input id='inputForm' matInput #input [(ngModel)]="data.Game" style="text-align: center;font-size: 2vh;">
        </mat-form-field>
    </div>
    <div mat-dialog-actions id="dialog-actions" class="dialog-actions">
        <div id="dialog-actions-deny" style="text-align: center;"> 
            <button mat-button type = 'reset' form="inputForm" (click)="onNoClick()" class="dialog-actions-deny">Отменить</button>
        </div>
        <div id="dialog-actions-continue" style="text-align: center;">
            <button mat-button  type = 'reset' form="inputForm" [mat-dialog-close]="data.Game" class="dialog-actions-continue">Продолжить</button>
        </div>
        
    </div>
</div>