<!--slider from https://material.angular.io/components/sidenav/examples-->
<mat-sidenav-container
    class="sidenav-container" (backdropClick)="close('backdrop')" >

    <!--Sidenav То, что находится внутри слайдера-->
        <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose class="in_slider">
            <!--кнопка с иконкой для закрытия слайдера-->
                <img src="../assets/icons/menu.svg" (click)="close('toggle button')" class="menu_icon">
            <!--end-->

            <span class='menu_text'>Меню</span>
            
            <!--вкладки для перемещения на другие страницы-->
            <div style="grid-row-start: 4;">
                
                <div>
                    <button mat-button routerLink = "game-manage" (click)="close('toggle button')" class="btn">
                        <span class="text">Управление играми</span>
                    </button>
                </div>
                
                <div>
                    <button mat-button routerLink = "add-user" (click)="close('toggle button')" class="btn">
                        <span class="text">Добавление пользователя</span>
                    </button>
                </div>
                
                <div>
                    <button mat-button routerLink = "queue" (click)="close('toggle button')" class="btn">
                        <span class="text">Очередь желающих</span>
                    </button>
                </div>
                
                <div>
                    <button mat-button routerLink = "record-manage" (click)="close('toggle button')" class="btn">
                        <span class="text">Управление рекордами</span>
                    </button>
                </div>
                
                <div>
                    <button mat-button routerLink = "top" (click)="close('toggle button')" class="btn">
                        <span class="text">Топ игроков</span>
                    </button>
                </div>
            </div>
                <!--end-->
            </mat-sidenav>
            <!--end-->
            
            <mat-sidenav-content>
                <!--Content То, что находится вне слайдера-->
                <!--кнопка с иконкой для закрытия слайдера-->
                <img src="../assets/icons/menu.svg" (click)="sidenav.open()"class="menu_icon_out">

                <!--end-->






            <!--end-->

            <!--для перемещения по вкладкам слайдера-->
                <router-outlet></router-outlet>
            <!--end-->

        </mat-sidenav-content>
</mat-sidenav-container>
<!--end-->

