.global_rec_mng_style {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    word-wrap: break-word; /* Перенос слов */ 
    height: 100vh;
}
.select_game {
    display: grid;
    grid-column: 2/6;
    height: 100vh;
    grid-template-columns: repeat(5,1fr);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.mngGameText_area{
    grid-column: 1/6;
    height: 5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #24292e;
}
.mngGameText{
    color:white;
    text-align: center;
    font-size: 4vh;
}
.games_area{
    box-sizing: border-box;
    grid-column: 1/6;
    height: 95vh;
    overflow-y:scroll;
    background-color: rgb(225, 228, 232);
}
.select_record {
    text-align: center;
}
.pickGame {
    width: 100%;
    white-space: normal;
    word-break: break-all; /* Перенос слов */ 
}
.records_area {
        display: grid;
        grid-column: 6/17;
        grid-template-columns: repeat(16,1fr);
}
.header_buttons {
    display: grid;
    grid-row: 1;
    grid-column: 1/17;
    grid-template-columns: repeat(16,1fr);
}
.period {
    grid-column: 6/12;
    align-self: center;
    justify-self: center;
}
.delRecord {
    grid-column: 15;
    justify-self: end;
    color:red;
    background-color: rgb(225, 228, 232);
}
.table {
    grid-column: 1/17;
    height: 100vh;

}
table {
    width: 100%;
    height: 100%;
}

.mat-form-field {
    height: 50px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
  }
  