.global_rec_mng_style {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(1,1fr);
}
.select_game {
    display: grid;
    grid-column: 2/6;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.mngGameText{
    grid-column: 1/6;
    text-align: center;
    font-size: 24px;
    align-self: center;
}
.games_area{
    grid-column: 1/6;
}
.all_games {
    text-align: center;
}
.pickGame {
    width: 100%;
    font-size: 18px;
}
.records_area {
        display: grid;
        grid-column: 6/17;
        grid-template-columns: repeat(16,1fr);
        grid-template-rows: 5% 95%;
}
.header_buttons {
    display: grid;
    grid-row: 1;
    grid-column: 1/17;
    grid-template-columns: repeat(16,1fr);
    background-color: blueviolet;
}
.addRecord {
    grid-column: 2;
    align-self: center;
}
.delRecord {
    grid-column: 15;
    text-align: end;
}
.table {
    grid-column: 1/17;

}
table {
    width: 100%;
}

.mat-form-field {
    height: 50px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
  }
  