<div id = "top_page" class = "top_page">

  <div id = "top" class = "top">

    <div id = "header_top" class = "header">
      <div class="header_text">
        Топ игроков
      </div>
    </div>
    
    <div id = "game_top_area" class = "game_top_area">

      <div id = "game_top"  *ngFor="let pickedGame of pickedGames" class = "game_top">

        <div id = "game_top_name" class = "game_top_name">
          {{pickedGame.name}}
        </div>
        
        <div id = "people_top" *ngFor="let people of Top; let i = index" class = "people_top">
          <div *ngIf="people[0].gameName===pickedGame.name" class="top3">
            
            <div id = "medal_top1"  *ngIf = "3>i" class = "medal_top1">
              #
            </div>
            
            <div id = "name_top1"  *ngIf = "3>i"  class = "name_top1">
              {{people[0].username}}
            </div>
            
            <div id = "score_top1" *ngIf = "3>i"   class = "score_top1">
              {{people[0].scoreCount}}
            </div>
            
          </div>
          <div *ngIf="people[1].gameName===pickedGame.name" class="top2">

            <div id = "medal_top2"  *ngIf = "3>i" class = "medal_top2">
              #
            </div>
            
            
            <div id = "name_top2"  *ngIf = "3>i"  class = "name_top2">
              {{people[1].username}}
            </div>
            
            <div id = "score_top2" *ngIf = "3>i"   class = "score_top2">
              {{people[1].scoreCount}}
            </div>
            
          </div>
          <div *ngIf="people[2].gameName===pickedGame.name" class="top3">

            <div id = "medal_top3"  *ngIf = "3>i" class = "medal_top3">
              #
            </div>
            
            
            <div id = "name_top3"  *ngIf = "3>i"  class = "name_top3">
              {{people[2].username}}
            </div>
            
            <div id = "score_top3" *ngIf = "3>i"   class = "score_top3">
              {{people[2].scoreCount}}
            </div>
            
          </div>
        </div>   
        
      </div>
        
    </div>

  </div>

  <div id = "last" class = "last">

    <div id = "header_last" class = "header">
      <div class="header_text">
        Последние результаты игроков
      </div>
    </div>

    <div id = "game_last_area" class = "game_last_area">
      <div id = "game_last" *ngFor="let pickedGame of pickedGames" class = "game_last">
        
        <div id = "game_last" class = "game_last_name">
         {{pickedGame.name}}0000000000000000000000000000000000000000000000000000000000000000000
        </div>
        
        <div id = "people_last" *ngFor="let pickedGame of pickedGames; let i = index" class = "people_last">
          
          <div id = "name_last"  *ngIf = "5>i" class = "name_last">
            {{pickedGame.name}}0000000000000000000000000000000000000000000000000000000000000000000
            
          </div>
          
          <div id = "score_last"  *ngIf = "5>i" class = "score_last">
            {{pickedGame.name}}{{pickedGame.name}}0000000000000000000000000000000000000000000000000000000000000000000
          </div>
          
        </div>
        
      </div>

    </div>
    

  </div>

</div>