/*ONLY for 1920x1080 screen*/
.top_page {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(16,1fr);
    word-wrap: break-word; /* Перенос слов */ 
    background: #1e2a38;
    background: linear-gradient(rgb(12,16,22) 0%,rgb(30,42,56) 100%);
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box
}
.top {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column: 1/17;
    grid-row: 1;
    height: 50vh;
    overflow: hidden;
}
.header {
    grid-row: 1;
    grid-column: 1/20;
    text-align: center;
    height: 8vh;
    background-color: #05090e;
    color:white;
}
.header_text{
    font-size: 3.5vh;
    padding: 1.5vh;
}
@keyframes twoSlides {
    0% { left: 100vw; }
    1% { left: 0%; }
    50.99% { left : 0%; }
    51% { left: -100.49vw; }
    99.99% { left: -100.49vw; }
    100% { left: -203vw; }
}
@keyframes threeSlides {
    0% { left: 100vw; }
    1% { left: 0% }
    33.99% { left: 0% }
    34% { left : -100.49vw; }
    65.99% { left: -100.49vw; }
    66% { left: -200.91vw; }
    99.99% { left: -200.91vw }
    100% { left: -303vw; }
}
@keyframes fourSlides {
    0% { left: 100vw; }
    1% { left: 0% }
    25.99% { left: 0% }
    26% { left : -100.49vw; }
    50.99% { left: -100.49vw; }
    51% { left: -200.91vw; }
    75.99% { left: -200.91vw; }
    76% { left: -301.39vw; }
    99.99% { left: -301.39vw; }
    100% { left: -403vw; }
}
#game_top_area {
    display: grid;
    grid-column: inherit;
    grid-template-columns: repeat(20,1fr);
    width: 500vw;
    grid-column-gap: 0.5vw;
    position: relative;
    align-content: space-between;
    white-space: normal;
    word-break: break-all; /* Перенос слов */ 
}
.game_top {
    display: grid;
    grid-row-gap: 1px;
    width: 24.52vw;
    background: #000;
    border: 0.05vw solid #012f40;
    box-shadow: 0 0 10px 0 #000;
}
.game_top_name {
    background-color: #111217;
    color:white;
    font-size: 3vh;
    text-align: center;
}
.people_top {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    background-color: #1d1e22;
    color:white;
}
.medal_top {
    grid-column: 1;
    align-self: center;
    font-size: 2vh;
    text-align: center;
}
.name_top {
    grid-column: 2/4;
    align-self: center;
    font-size: 2vh;
    text-align: center;
}
.score_top {
    grid-column: 4/6;
    align-self: center;
    font-size: 2vh;
    text-align: center;
}

/***********/

.last {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column: 1/17;
    grid-row: 2;
    height: 50vh;
    overflow: hidden;
    grid-gap: 10px;
}
.header_last {
    grid-row: 1;
    grid-column: 1/20;
    text-align: center;
    background-color: #05090e;
    color:white;
}
#game_last_area {
    display: grid;
    grid-row: 2/6;
    grid-column: inherit;
    grid-template-columns: repeat(20,1fr);
    width: 500vw;
    align-content: space-between;
    grid-column-gap: 0.5vw;
    position: relative;
    white-space: normal;
    word-break: break-all; /* Перенос слов */ 
}
.game_last {
    display: grid;
    width: 24.52vw;
    grid-row-gap: 1px;
    background: #000;
    border: 0.05vw  solid #012f40;
    box-shadow: 0 0 10px 0 #000;
}
.game_last_name {
    background-color: #111217;
    color:white;
    font-size: 3vh;
    text-align: center;
}
.people_last {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    background-color: #1d1e22;
    color:white;
}
.name_last {
    grid-column: 1/4;
    align-self: center;
    font-size: 2vh;
    text-align: center;
}
.score_last {
    grid-column: 4/6;
    align-self: center;
    font-size: 2vh;
    text-align: center;

}
