/*ONLY for 1920x1080 screen*/
.top_page {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(16,1fr);
    word-wrap: break-word; /* Перенос слов */ 
    background: #1e2a38;
    background: linear-gradient(rgb(12,16,22) 0%,rgb(30,42,56) 100%);
    height: 100%;
    overflow: hidden;
}
.top {
    display: grid;
    grid-template-rows: 85px;
    grid-template-columns: repeat(5,1fr);
    grid-column: 1/17;
    grid-row: 1;
    overflow: hidden;
}
.header_top {
    grid-row: 1;
    grid-column: 1/20;
    text-align: center;
    background-color: #05090e;
    color:white;
}
@keyframes twoSlides {
    0% { left: 100%; }
    1% { left: 0%; }
    50.99% { left : 0%; }
    51% { left: -100.3%; }
    99.99% { left: -100.3%; }
    100% { left: -203%; }
}
@keyframes threeSlides {
    0% { left: 100%; }
    1% { left: 0% }
    33.99% { left: 0% }
    34% { left : -100.3%; }
    65.99% { left: -100.3%; }
    66% { left: -200.8%; }
    99.99% { left: -200.8% }
    100% { left: -303%; }
}
@keyframes fourSlides {
    0% { left: 100%; }
    1% { left: 0% }
    25.99% { left: 0% }
    26% { left : -100.3%; }
    50.99% { left: -100.3%; }
    51% { left: -200.8%; }
    75.99% { left: -200.8% }
    76% { left: -301.2% }
    99.99% { left: -301.2% }
    100% { left: -403%; }
}
#game_top_area {
    display: grid;
    grid-row: 2/6;
    grid-column: inherit;
    grid-template-columns: repeat(20,1fr);
    width: 100%;
    justify-self: center;
    align-self: center;
    grid-column-gap: 10px;
    position: relative;
    white-space: normal;
    word-break: break-all; /* Перенос слов */ 
}
.game_top {
    display: grid;
    width: 470px;
    grid-row-gap: 1px;
    background: #000;
    border: 1px solid #012f40;
    box-shadow: 0 0 10px 0 #000;
}
.game_top_name {
    background-color: #111217;
    color:white;
    font-size: 24px;
    text-align: center;
}
.people_top {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    background-color: #1d1e22;
    color:white;
}
.medal_top {
    grid-column: 1;
    align-self: center;
    font-size: 24px;
    text-align: center;
}
.name_top {
    grid-column: 2/4;
    align-self: center;
    font-size: 18px;
    text-align: center;
}
.score_top {
    grid-column: 4/6;
    align-self: center;
    font-size: 18px;
    text-align: center;
}

/***********/

.last {
    display: grid;
    grid-template-rows: 85px;
    grid-template-columns: repeat(5,1fr);
    grid-column: 1/17;
    grid-row: 2;
    overflow: hidden;
    grid-gap: 10px;
}
.header_last {
    grid-row: 1;
    grid-column: 1/20;
    text-align: center;
    background-color: #05090e;
    color:white;
}
#game_last_area {
    display: grid;
    grid-row: 2/6;
    grid-column: inherit;
    grid-gap: 10px;
    grid-template-columns: repeat(20,1fr);
    width: 100%;
    justify-self: center;
    align-self: center;
    grid-column-gap: 10px;
    position: relative;
    white-space: normal;
    word-break: break-all; /* Перенос слов */ 
}
.game_last {
    display: grid;
    width: 470px;
    grid-row-gap: 1px;
    background: #000;
    border: 1px solid #012f40;
    box-shadow: 0 0 10px 0 #000;
}
.game_last_name {
    background-color: #111217;
    color:white;
    font-size: 24px;
    text-align: center;
}
.people_last {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    background-color: #1d1e22;
    color:white;
}
.name_last {
    grid-column: 1/4;
    align-self: center;
    font-size: 18px;
    text-align: center;
}
.score_last {
    grid-column: 4/6;
    align-self: center;
    font-size: 18px;
    text-align: center;

}
