.allGames{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(44vw,44vw));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color:black;
    padding: 50px;
    justify-content: center;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.header{
    display: grid;
    padding: 7px;
    background-color: #24292e;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    
}
.header-name{
    text-overflow: ellipsis;
    width: 80%;
    overflow: hidden;
    font-size: 4vh;
    text-align: center;
    color:white;
    float: left;
    box-sizing: border-box;
}
.header-place{
    width: 20%;
    float: right;
    text-align: center;
    box-sizing: border-box;
}

.decline_all {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: auto;
    color: black;
    border-radius: 15px;
    
}
.queue{
    /* display: grid; */
    padding: 10px;
    margin-top: 2px;
    background-color:rgb(225, 228, 232);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    /* grid-template-rows:repeat(50,50px); */
    overflow-y: scroll;
    height: 290px;
    
}
.queue-people-area{
    display: grid;
    align-self: center;
    text-align: center;
    grid-template-columns: 15% 55% 15% 15%;
    padding-top: 5px;
    padding-bottom: 5px;

}
.queue-user_state{
    grid-column: 1;
    text-align: center;
    align-self: center;

}
.queue-user_name{
    grid-column: 2;
    align-self: center;
    text-align: center;
    font-size:18px;
    color:  black;

}
.queue-user_deny{
    grid-column: 2;
}
.queue-user_accept{
    grid-column: 3;
}

.icon {
  width: 5vw;
  height: 5vh;
}
.decline_icon {
    transform: rotate(45deg);
}

.decline_all_icon {
    /*
    transform: rotate3d(45deg);
    width: 30%;*/
    transform: rotate(45deg);

}

/*
.dec_all_2 {
    transform: translate(-15px) rotate(45deg);
}
*/