
<div id="allGames" class="allGames">
  <div id="area" *ngFor="let pickedGame of pickedGames">
    
    <div id="header" class="header">

      <div id="game_name" class="header-name">
        {{pickedGame.gameName}}
      </div>

      <div id='button' class="header-decline_all">
         <button mat-icon-button class="header-decline_all_btn" (click) = "decline_all(pickedGame.gameId)">
            <img class="header-decline_all_icon" src="assets/icons/close-circular-button.svg">
          </button>
      </div>

    </div>

    <!-- <mat-divider style="background-color:rgb(41, 41, 158)"></mat-divider> -->

    <div id="queue" class="queue">

      <div id='people-area' *ngFor="let people of peopleQueue;let i=index" class="queue-people-area">
        
          <div class="queue-user_state" *ngIf='pickedGame.gameName===people.gameName'>
            {{people.status}}
          </div>

          <div id="user_name" class="queue-user_name" *ngIf='pickedGame.gameName===people.gameName'>
              {{people.userName}}
          </div>
          
          <div id="btn-deny"  class="queue-user_deny"*ngIf='pickedGame.gameName===people.gameName'>
            <div>
                  <button mat-icon-button class="header-decline_all_btn" (click) = "declineUser(people.playerId,people.gameId)">
                    <img class="header-decline_all_icon" src="assets/icons/close-circular-button.svg">
                  </button>
            </div>
          </div>
          
          <div id="btn-accept" class="queue-user_accept" *ngIf='pickedGame.gameName===people.gameName'>
            <div *ngIf="people.status==='InQueue'">
              <div>
                <button mat-icon-button class="acceptUser_btn" (click) = "accept_user(people.playerId)">
                  <img class="acceptUser_icon" src="assets/icons/accept_user.svg">
                </button>
              </div> 
            </div>
          </div>
       
        
      </div>
      
    </div>
    <!-- <mat-divider style="background-color:rgb(41, 101, 158)"></mat-divider> -->
    
  </div>
</div>