.allGames{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color:white;
    margin: 20px;
}
.header{
    display: grid;
    padding: 7px;

    background-color: #bdbdbd;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    /* grid-template-columns: repeat(12,1fr); */
    grid-template-columns: 70% 30%;
    
}
.header-name{
    /* grid-column: 4/8; */
    grid-column: 1;
    align-self: center;
    font-size: 4vw;
    text-align: center;
}
.header-button{
    grid-column: 2;
    width: auto;
    float: right;
}

.decline_all {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 4vw; 
    margin: auto;
    color: black;
    background-color: gray;
    /* text-align: center; */
    border-radius: 15px;
    
}
.queue{
    /* display: grid; */
    padding: 10px;
    margin-top: 2px;
    background-color:#e0e0e0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* grid-template-rows:repeat(50,50px); */
    
}
.queue-people-area{
    display: grid;
    /* grid-gap: 10px; */
    align-self: center;
    text-align: center;
    grid-template-columns: 70% 15% 15%;

}
.queue-user_name{
    grid-column: 1;
    align-self: center;
    text-align: center;
    font-size:18px;
    color:  rgb(77, 76, 76);

}
.queue-user_deny{  
    grid-column: 2;
    -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;
     border: rgba(190, 190, 190, 0.397);  
      border-style: outset;
     transition: 0.3s;
     display: inline-block;
     text-decoration: none;
     cursor: pointer;
     border-radius: 8px;
} 
.queue-user_deny:hover {
    background-color: #ff000031; 
    color: rgb(104, 73, 73);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

 .queue-user_accept{ 
    grid-column: 3;
    -webkit-transition-duration: 0.4s; 
     transition-duration: 0.4s;
     border: rgba(190, 190, 190, 0.397);
     /* border-style: outset; */
     transition: 0.3s;
     display: inline-block;
     text-decoration: none;
     cursor: pointer;
     border-radius: 8px;
}

.queue-user_accept:hover {
    background-color: #00ff1531; 
    color: rgb(104, 73, 73);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);  
}

.icon {
    width: 60%;
    justify-content: center;  /*centrates the pic?*/
    align-items: center;      /*centrates the pic?*/
}
.decline_icon {
    transform: rotate(45deg);
}

.decline_all_icon {
    transform: rotate(45deg);
    width: 50%;
}