@media only screen and (max-width: 1040px){/*для ширины экрана меньше 1040x*/
    .content{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(12,1fr);
    }
    .mngGame{
        grid-column: 3/15;
        grid-row: 3;
      text-align: center;
      color:black;
    }
    .mngedGame{
        grid-column: 1/17;
        grid-row: 7;
      text-align: center;
      color:black;
    }
    /*стиль кнопки для открытия всплывающего окна для добавления игры*/
    .addGame{
      text-align: center;
      grid-column: 8/10;
      grid-row: 1;
      padding-top: 1vh;
      justify-self: center;
      align-self: flex-end;
      color:green;
      box-sizing: border-box;
      }
    .addGame_btn{
      background-color:rgb(225, 228, 232);
      border-radius: 40px;
      block-size: 4vh;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 3vh;
      box-sizing: border-box;
    }

      /*стиль кнопки для добавления игры в Выбранные игры*/
    .routeToMngedGame{
        grid-column: 15;
        grid-row: 4;
      text-align: left;
      align-self: center;
      color:black;
  }
  
    /*Input Ввод данных from https://material.angular.io/components/autocomplete/examples-->*/
    .mngGame-input{
      
        grid-column: 3/15;
        grid-row: 5;
        overflow: hidden;
      text-align: center;
    
  }
    ::ng-deep .mat-autocomplete-panel.extended { //изменяем ширину стандартного окна с помощью ::ng-deep
      max-height: 40vh;
  }
    ::ng-deep .mat-icon-button.extended {
      height: 5vh;
      width: 5vh;
  }
  ::ng-deep .mat-icon.extended {
    width: auto;
    font-size: 3vh;
}

    /*стиль карточек выбранных игр*/
    .cardsOfmngedGames{
      grid-column: 11/15;
      grid-row: span 5;
      text-align: center;
      color:rgb(255, 0, 0); 
  
  }


  /*список выбранных игр*/
.pickedGame{
  color:black; 
  grid-column: 3/16;
  grid-row-start: 8;
}

.gameNameColumn {
  width: 90%;
  text-align: center;
  float: left;
}
.filteredGame{
  color:black;
}
h3{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2vh;
}

/*кнопки для удаления из выбранных игр*/
.unpick{
  justify-self: start;
  line-height: 3.5;
  width: 10%;
  float: right;
  color:rgb(218, 15, 15);
}

}