<div id='content'class="content">
  
  
  <div id = 'mngGame' class = "mngGame">Выберите игру</div>
  <div id = 'mngedGame' class = "mngedGame">Выбранные игры</div>
  
  <!--Выбранные игры и кнопки для удаления из выбранных-->
  
      <div class="pickedGame">
        <div *ngFor="let pickedgame of pickedGames"> 

          <div class="gameNameColumn">
            <h3>
              {{pickedgame.gameName}}
            </h3>
            <mat-divider style="background-color:rgb(225, 228, 232);"></mat-divider>
          </div>

          <div class="unpick">
            <button mat-icon-button class="btn" style="background-color:rgb(225, 228, 232);" (click)="unpick(pickedgame.gameId)">
              <img class="decline_all" src="assets/icons/decline_user.svg">
            </button>
          </div>

        </div>
      </div>
  <!---->
  
  <!--Добавление новой игры-->
  <div id="dialog1" class="addGame">
    <button mat-button (click) = "addGame()" class="addGame_opener_text">
          Добавить игру
    </button>
  </div>
  <!---->
  <!--Удаление игр-->
    <div id="dialog2" class="delGame">
      <button mat-button (click) = "delGame()" class="delGame_opener_text">
        Удалить игру
      </button>
    </div>
  <!---->

  <!--Добавление игры в Выбранные игры||Кнопка появляется когда желаемая игра есть в доступных играх-->
  <div id = "routeToMngedGame" class = "routeToMngedGame">
    <div *ngFor="let game of filteredGames | async">
       <div *ngIf="Input.value === game">
           <button mat-icon-button form = 'inputForm' type = "reset" class="routeToMngedGame_btn" (click)="pick(Input.value)">
              <mat-icon class="routeToMngedGame_icon">add</mat-icon>
            </button>
        </div>
    </div>
  </div>
  <!---->
  
  <div id="mngGame-input" class="mngGame-input">

    <!--Input Ввод данных from https://material.angular.io/components/autocomplete/examples-->
    <form id="inputForm">
      <mat-form-field class="mngGame-full-width" >
        <input type="text" #Input placeholder="Введите название"aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" class="extended">
          <div> 
            <mat-option *ngFor="let game of filteredGames | async" [value]="game" class="filteredgames">
                  {{game}}
            </mat-option>
          </div>
        </mat-autocomplete>
        
      </mat-form-field>
      
      
    </form>
      <!---->

  
 

  
   
      

 
  
    
</div>
  
    
  