@media only screen and (max-width: 1040px){/*для ширины экрана меньше 900px*/
    .content{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(12,1fr);
    word-wrap: break-word; /* Перенос слов */ 
    }
    .mngGame{
        grid-column: 3/15;
        grid-row: 3;
      text-align: center;
      color:black;
    }
    .mngedGame{
        grid-column: 1/17;
        grid-row: 6;
      text-align: center;
      color:black;
    }

    /*стиль кнопки для открытия всплывающего окна для добавления игры*/
    .dialog{
      grid-column: 4/14;
      grid-row: 2;
      text-align: center;
      color:black;
      }

      /*стиль кнопки для добавления игры в Выбранные игры*/
    .routeToMngedGame{
        grid-column: 15;
        grid-row: 3;
      text-align: left;
      align-self: center;
      color:black;
  }
  
    /*Input Ввод данных from https://material.angular.io/components/autocomplete/examples-->*/
    .mngGame-input{
      
        grid-column: 3/15;
        grid-row: 4;
        overflow: hidden;
      text-align: center;
    
    }

    /*стиль карточек выбранных игр*/
    .cardsOfmngedGames{
      grid-column: 11/15;
      grid-row: span 5;
      text-align: center;
      color:rgb(255, 0, 0); 
  
  }


  /*список выбранных игр*/
.pickedGame{
  color:black; 
  grid-column: 3/16;
  grid-row-start: 7;
  grid-row-end:12;
}

.gameNameColumn {
  width: 90%;
  text-align: center;
  float: left;
}
.filteredGame{
  color:black;
}

/*кнопки для удаления из выбранных игр*/
.unpick{
  justify-self: start;
  line-height: 3.5;
  width: 10%;
  float: right;
  color:rgb(218, 15, 15);
}

}